## 估价假设和限制条件

### 一、估价假设

#### （一）一般假设
1. 估价所依据的估价对象的权属、面积、用途等资料已经过检查，在无理由怀疑其合法性、真实性、准确性和完整性的情况下，对其合法、真实、准确和完整的合理假定。
2. 在无理由怀疑估价对象存在安全隐患且无相应的专业机构进行鉴定、检测的情况下，对其安全的合理假定。

{{#unascertainedAssumption}}
#### （二）未定事项假设
{{unascertainedAssumption}}
{{/unascertainedAssumption}}

{{#departingAssumption}}
#### （三）背离事实假设
{{departingAssumption}}
{{/departingAssumption}}

{{#inconsistentAssumption}}
#### （四）不相一致假设
{{inconsistentAssumption}}
{{/inconsistentAssumption}}

{{#insufficientAssumption}}
#### （五）依据不足假设
{{insufficientAssumption}}
{{/insufficientAssumption}}

### 二、估价报告使用限制
1. 本报告使用期限自估价报告出具之日起计算，不宜超过一年。
2. 本报告仅供{{purpose}}使用。
3. 本报告的全部内容由{{agencyName}}负责解释。
