## 致{{clientName}}函

{{clientName}}：

受您的委托，我们对估价对象进行了估价。现将估价结果报告如下：

| 事项 | 内容 |
|------|------|
| 估价目的 | {{purpose}} |
| 估价对象 | {{objectType}} |
| 价值时点 | {{valueDate}} |
| 价值类型 | {{valueType}} |
| 估价方法 | {{methods}} |
| 估价结果 | {{finalValue}}（大写：{{finalValueCNY}}） |
| 致函日期 | {{issueDate}} |

---

**{{agencyName}}**（公章）
**法定代表人/执行事务合伙人：** __________
