{{!-- 表格式报告 - 多宗房地产对比 --}}

## 多宗房地产估价结果对比表

| 序号 | 估价对象 | 建筑面积(m²) | 估价方法 | 单价(元/m²) | 总价(元) |
|------|---------|-------------|---------|-------------|----------|
| 1 | {{projectName}} | {{constructionArea}} | {{methods}} | {{comparableValue}}/{{constructionArea}} | {{comparableValue}} |
